[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
"803af1e" = {file = "https://github.com/masoniteframework/core/archive/develop.zip"}
masonite-cli = "*"
pyjwt = "*"

[dev-packages]
"autopep8" = "*"
"pytest" = "*"
pymysql = "*"

[scripts]
install-develop = "pipenv install https://github.com/masoniteframework/core/archive/develop.zip"
